---
import { Image } from "astro:assets";
import CampaignModal from "./campaign-modal.astro";

interface Props {
  campaign: {
    image: ImageMetadata;
    title: string;
    description: string;
    media: { mobile: ImageMetadata[]; desktop: ImageMetadata[] };
    mediaDesc: string[];
  };
  index: number;
}
const { campaign, index } = Astro.props;
const { image, title, description } = campaign;
---

<div
  class="relative block rounded-[2.5rem] border border-[#26557d] cursor-pointer hover:scale-105 transition-all duration-200"
  aria-haspopup="dialog"
  aria-expanded="false"
  aria-controls={`campaign-modal-${index}`}
  id={`campaign-${index}`}
>
  <Image
    src={image}
    alt={title}
    class="h-auto w-full rounded-[2.5rem] object-cover border-[#26557d] border aspect-square"
  />

  <div class="px-4 py-8">
    <strong class="text-xl font-bold uppercase text-white font-euro">
      {title}
    </strong>

    <p class="mt-2 text-pretty text-blue-200 text-justify">
      {description}
    </p>
  </div>
</div>
<CampaignModal campaign={campaign} index={index} />
<script define:vars={{ index }}>
  const openBtn = document.getElementById(`campaign-${index}`);
  openBtn.addEventListener("click", () => {
    HSOverlay.open(`#campaign-modal-${index}`);
  });
</script>
