---
import { Image } from "astro:assets";
import logo from "../assets/images/Hanzu-Logo-White.png";

const links = [
  {
    title: "Services",
    href: "#services",
  },
  {
    title: "Campaigns",
    href: "#campaigns",
  },
  {
    title: "About Us",
    href: "#about-us",
  },
];

const socials = [
  {
    name: "youtube",
    href: "#",
  },
  {
    name: "telegram",
    href: "#",
  },
  {
    name: "whatsapp",
    href: "#",
  },
  {
    name: "linkedin",
    href: "#",
  },
  {
    name: "facebook",
    href: "#",
  },
  {
    name: "instagram",
    href: "#",
  },
  {
    name: "twitter",
    href: "#",
  },
];
---

<footer class="pt-10 overflow-hidden">
  <hr class="mb-4 border-[#26557d]" />
  <div class="p-4 sm:p-8 md:p-16">
    <div class="max-w-7xl mx-auto flex flex-col gap-8">
      <div class="flex flex-col gap-8">
        <div class="hidden md:block lg:hidden mb-8" data-aos="fade-up">
          <a href="#" class="block w-40 mx-auto">
            <Image
              src={logo}
              alt="Brand"
              width={200}
              height={200}
              loading="eager"
              class="w-full h-auto object-contain aspect-square"
            />
          </a>
        </div>

        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-center"
        >
          <div
            class="text-white text-center md:text-left lg:text-left order-2 md:order-1"
            data-aos="fade-right"
          >
            <div class="space-y-4">
              <p class="font-extrabold uppercase text-xl sm:text-2xl">
                Interested? <br /> Let's get in touch.
              </p>
            </div>
          </div>

          <div
            class="flex justify-center items-center md:hidden lg:flex order-1 md:order-2"
            data-aos="fade-up"
          >
            <a href="#" class="block w-32 sm:w-40 lg:w-48">
              <Image
                src={logo}
                alt="Brand"
                width={200}
                height={200}
                loading="eager"
                class="w-full h-auto object-contain aspect-square"
              />
            </a>
          </div>

          <div
            class="flex flex-row md:flex-col lg:flex-col justify-center md:justify-start items-center md:items-end gap-4 md:gap-6 order-3 md:order-3"
          >
            <button
              type="button"
              class="inline-block font-euro rounded-3xl border uppercase border-[#e71d36] hover:bg-[#e71d36] px-6 sm:px-8 py-2.5 sm:py-3 text-sm font-bold text-[#e71d36] hover:text-white focus:outline-none focus:ring active:text-white transition-colors duration-300"
            >
              Contact Us
            </button>
          </div>
        </div>
      </div>

      <hr class="border-gray-700" />

      <div
        class="flex flex-col sm:flex-row justify-between items-center gap-4"
        data-aos="fade-up"
        data-aos-offset="-100"
      >
        <p
          class="text-pretty text-white text-sm sm:text-base text-center sm:text-left"
        >
          © {new Date().getFullYear()} Hanzu. All Rights Reserved.
        </p>

        <!-- <div class="flex flex-wrap justify-center gap-4">
          {
            socials.map((social, i) => (
              <a
                href={social.href}
                class="text-white hover:text-[#e71d36] transition-colors duration-300"
                aria-label={social.name}
                title={social.name}
                data-aos="slide-up"
                data-aos-delay={i * 100}
                data-aos-offset="0"
              >
                <Icon name={social.name} class="w-5 h-5 sm:w-6 sm:h-6" />
              </a>
            ))
          }
        </div> -->
      </div>
    </div>
  </div>
</footer>
