---
import { Image } from "astro:assets";
import { cn } from "../lib/utils";
import ServiceModal from "./service-modal.astro";
import influencer from "/src/assets/images/influencer-marketing.png";

interface Props {
  service: {
    number: string;
    title: string;
    description?: string;
    image?: ImageMetadata;
  };
  index: number;
}
const { service, index } = Astro.props;
const { number, title, description, image } = service;
---

<div
  class="flex flex-col gap-3"
  data-aos="fade-right"
  data-aos-delay={index * 200}
>
  <div
    class={cn(
      "flex md:flex-col items-center md:items-start gap-4 md:gap-0 mx-auto md:mx-0",
      index !== 0 && "items-start flex-col mx-0"
    )}
  >
    <span class="text-[#FF3131] text-4xl font-bold font-euro">
      {service.number}
    </span>

    <div
      class={cn(
        "w-0.5 self-center h-8 bg-[#ff9f1c] md:hidden",
        index !== 0 && "hidden"
      )}
    >
    </div>

    <h3
      class={cn(
        "text-white text-xl font-bold tracking-wider md:max-w-full font-euro",
        index === 0 && "max-w-32"
      )}
    >
      {service.title}
    </h3>
  </div>

  {
    index === 0 && (
      <div
        class="rounded-3xl overflow-hidden md:hidden"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls={`service-modal-${service.number}`}
        data-hs-overlay={`#service-modal-${service.number}`}
      >
        <Image
          src={influencer}
          alt="Influencer Marketing"
          class="w-full h-full aspect-video object-contain"
          loading="eager"
        />
      </div>
    )
  }

  {
    service.description && index === 0 && (
      <p class="text-[#8B8B8B]">{service.description}</p>
    )
  }
</div>
<ServiceModal service={service} />
